---

- name: Conditional SSH Provisioning for LXC
  block:
    - name: Select lxc IP address
      ansible.builtin.set_fact:
        ansible_host: "{{ proxmox_lxc_interfaces | map(attribute='inet') | reject('equalto','127.0.0.1/8') | first | split('/') | first }}"

    # - name: Attempt SSH connection to LXC (Test for existing setup)
    #   ansible.builtin.wait_for_connection:
    #     timeout: 3 # Short timeout, we don't want to wait long if it's down

    - name: "If SSH succeeds verify the ansible user exists"
      ansible.builtin.command: id -u {{ ansible_user_name }}
      register: user_check_result
      changed_when: false

    - name: LXC is provisioned. Continue with post-bootstrap tasks.
      ansible.builtin.debug:
        msg: "Success! SSH is enabled and the '{{ ansible_user_name }}' user is ready."

  rescue:
    - name: '== SSH FAILED: Triggering Proxmox Bootstrap =='
      ansible.builtin.debug:
        msg: "Connection to {{ ansible_host }} failed. Running bootstrap tasks via Proxmox API"

    - name: Run the Proxmox 'pct exec' bootstrap tasks
      ansible.builtin.include_tasks: bootstrap.yml

    - name: 'Final verification: Wait for new SSH service on LXC'
      ansible.builtin.wait_for_connection:
        timeout: 30 # Longer timeout to ensure the new SSH service is up

